div.sol_sutun{
	background-color:turquoise;
	height:150px;
	width:150px;
	text-align:center;
	margin:10px;
	float:left;
}
div.orta_sutun{
	background-color:red;
	height:150px;
	width:150px;
	text-align:center;
	margin:10px;
	float:left;
}
div.sag_sutun{
	background-color:magenta;
	height:150px;
	width:150px;
	text-align:center;
	margin:10px;
	float:left;
}
div.footer{
	background-color:blue;
	height:150px;
	width:1000px;
	text-align:center;
	margin:10px;
	clear:both;
}
